<template>
  <div class="warp">
    <!-- 星星 -->
    <div class="start st1" ref="startRef"></div>
    <!-- 流星组 -->
    <div class="flow flow1"></div>
    <div class="flow flow2"></div>
    <div class="flow flow3"></div>
    <div class="flow flow4"></div>
    <!-- 中心盒子 -->
    <div
      :class="[{ animation: isAnimating }, 'content-img']"
      @click="startAnimation"
      ref="contentImgRef"
    >
      <div class="light" v-if="isAnimating"></div>
      <img
        src="@/assets/image/mianPic/box.png"
        class="box-img"
        alt=""
        v-if="imgShow"
      />
      <!-- 左侧字 -->
      <div :class="['zi1', { imgShowZ1: !imgShow }]"></div>
      <!-- 右侧字 -->
      <div :class="['zi2', { imgShowZ2: !imgShow }]"></div>
      <!-- 右侧石头 -->
      <div class="stone1" v-if="imgShow"></div>
      <!-- 左侧石头 -->
      <div class="stone2" v-if="imgShow"></div>
      <!-- 发光条 -->
      <img
        class="box-wrap"
        src="@/assets/image/mianPic/boxwarp.png"
        alt=""
        v-if="imgShow"
      />
      <!-- 眼睛外部 -->
      <div class="eye-warp" ref="eyeWarpRef" v-if="imgShow">
        <!-- 眼白 -->
        <div class="eyes-content">
          <img
            src="@/assets/image/mianPic/eyesBorder.png"
            class="eyeWarp-img"
            alt=""
          />
          <div
            class="eyeWhite-box"
            style="
              width: 14rem;
              height: 14rem;
              position: absolute;
              top: 19%;
              left: 33%;
              margin: auto;
              border-radius: 50%;
              z-index: 0;
              overflow: hidden;
              display: flex;
              align-items: center;
              background: #e9e7e7;
              justify-content: center;
            "
          >
            <img
              src="@/assets/image/mianPic/eyesWhite1.png"
              ref="eyeWhite"
              :class="['eyeWhite', { eyeanimation1: isAnimating }]"
              style="width: 25rem; position: absolute; margin-left: -6px"
              alt=""
            />
          </div>
        </div>
        <!-- 眼球 --- eye-inner 类目为 本身样式, eyeanimation为点击后的动画 -->
        <div
          :class="['eye-inner', { eyeanimation: isAnimating }]"
          :style="{ top: eyeTop + 'px', left: eyeLeft + 'px' }"
        >
          <img
            src="@/assets/image/mianPic/eyeInner.png"
            class="eye-inner-img"
            alt=""
          />
          <!-- 眼珠 -->
          <div class="inner-eyes">
            <img
              class="inner-eyes-img"
              src="@/assets/image/mianPic/eyeInnerMain.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 满天星 -->
    <div class="start-warp" ref="startWarpRef"></div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, onUnmounted } from "vue";

const eyeTop = ref(54); // 眼睛偏移y轴
const eyeLeft = ref(99); // 眼睛偏移x轴
const eyeTop1 = ref(-45); // 眼睛偏移y轴
const eyeLeft1 = ref(-45); // 眼睛偏移x轴
const eyeWhite = ref(); // 眼睛偏移x轴
const eyeWarpRef = ref();
const startWarpRef = ref();
const startRef = ref();
const contentImgRef = ref();
const isAnimating = ref(false); // 控制点击前后的动画
const allowEyeMove = ref(true); // 控制眼球是否允许移动
const imgShow = ref(true);

// 眼珠转动动画
const moveEye = (event: { clientX: number; clientY: number }) => {
  if (!allowEyeMove.value || !eyeWarpRef.value) return;

  const rect = eyeWarpRef.value.getBoundingClientRect();
  const x = event.clientX - rect.left - rect.width / 2;
  const y = event.clientY - rect.top - rect.height / 2;
  const angle = Math.atan2(y, x);
  const radius = rect.width / 13;

  const computePosition = (offset: any, min: any, max: any) => {
    return Math.max(min, Math.min(max, offset));
  };

  eyeLeft.value = radius * Math.cos(angle) + rect.width / 2 - 220;
  eyeTop.value = radius * Math.sin(angle) + rect.height / 2 - 240;

  eyeLeft1.value = computePosition(
    radius * Math.cos(angle) + rect.width / 2.5 - 272,
    -80,
    -40
  );
  eyeTop1.value = computePosition(
    radius * Math.sin(angle) + rect.height / 2.5 - 272,
    -75,
    -50
  );

  // 使用 requestAnimationFrame 优化动画性能
  requestAnimationFrame(() => {
    eyeWhite.value.style.top = eyeTop1.value + "px";
    eyeWhite.value.style.left = eyeLeft1.value + "px";
    const warpWidth = startWarpRef.value.getBoundingClientRect().width;
    const mouseX = event.clientX;
    const percentX = (mouseX / window.innerWidth) * 100;
    const offsetX = (percentX / 100) * (warpWidth - window.innerWidth);

    startWarpRef.value.style.backgroundPositionX = `${offsetX / 3}px`;
    startRef.value.style.backgroundPositionX = `${offsetX / 4}px`;
  });
};

// 盒子点击事件
const startAnimation = () => {
  // 初始化眼珠位置
  eyeLeft.value = 54;
  eyeTop.value = 49;
  allowEyeMove.value = false; // 点击后停止眼球跟随
  isAnimating.value = true;
  setTimeout(() => {
    imgShow.value = false;
  }, 8000);
};

onMounted(() => {
  window.addEventListener("mousemove", moveEye);
  startRef.value.style.animationDelay = `${Math.random()}s`;
});

onUnmounted(() => {
  window.removeEventListener("mousemove", moveEye);
});
</script>

<style lang="less" scoped>
.start-warp {
  width: 105%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("@/assets/image/mianPic/allStarts.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 33;
  overflow: hidden;
}

.start {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("@/assets/image/mianPic/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: blinks 2s infinite;
}

@keyframes blinks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flowAnimation {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0.3;
  }

  25% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100vw) translateY(100vw);
    opacity: 0.5;
  }
}

.flow {
  width: 15rem;
  height: 13rem;
  position: absolute;
  background: url("@/assets/image/mianPic/flowStart.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.36;
}

.flow1 {
  right: 50.5rem;
  top: 0;
  animation: flowAnimation 4s infinite;
}

.flow2 {
  right: 18.5rem;
  top: 0;
  animation: flowAnimation 5s infinite;
}

.flow3 {
  right: 0;
  top: 0;
  animation: flowAnimation 6s infinite;
}

.flow4 {
  right: 75.5rem;
  top: 0;
  animation: flowAnimation 3s infinite;
}

.eyeanimation {
  animation: eyeTrianglePath 4s infinite;
}
.eyeanimation1 {
  animation: eyeTrianglePath1 4s infinite;
}
@keyframes eyeTrianglePath1 {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translateX(8px) translateY(-8px); /* 向上右移动 */
  }

  66% {
    transform: translateX(10px) translateY(0); /* 向右移动 */
  }

  100% {
    transform: translate(0, 0); /* 回到原点 */
  }
}
@keyframes eyeTrianglePath {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translateX(45px) translateY(-45px); /* 向上右移动 */
  }

  66% {
    transform: translateX(100px) translateY(0); /* 向右移动 */
  }

  100% {
    transform: translate(0, 0); /* 回到原点 */
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.warp {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("@/assets/image/mianPic/backBackground.png");

  .animation {
    animation: extend 8s !important;

    .box-img,
    .box-wrap {
      animation: shakeSlow 8s !important;
    }

    .stone1,
    .stone2 {
      animation: shakeSlowsStone 8s !important;
    }
    .eye-warp {
      .eyeWarp-img {
        animation: shakeSlow 8s !important;
      }
      .eyeWhite-box {
        animation: shakeSlow 8s !important;
      }

      .eye-inner {
        .eye-inner-img {
          animation: shakeSlow 8s !important;
        }

        .inner-eyes {
          .inner-eyes-img {
            animation: shakeSlow 8s !important;
          }
        }
      }
    }
  }

  .content-img {
    width: 38.75rem;
    height: 38.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;

    .box-img {
      animation: shakeSlows 8s infinite alternate;
    }

    .stone1 {
      animation: float 8s infinite;
    }

    .stone2 {
      animation: floats 8s infinite;
    }

    .box-wrap {
      animation-name: shakeSlows, flyIn;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .eye-warp {
      .eyeWarp-img {
        animation: shakeSlows 8s infinite alternate;
      }
      .eyeWhite {
        left: -55px;
        right: 49px;
      }

      .eye-inner {
        .eye-inner-img {
          animation: shakeSlows 8s infinite alternate;
        }

        .inner-eyes {
          .inner-eyes-img {
            animation: shakeSlows 8s infinite alternate;
          }
        }
      }
    }

    .box-img {
      width: 38.75rem;
      height: 38.75rem;
    }

    .box-wrap {
      position: absolute;
      z-index: 2;
      width: 36.6875rem;
      height: 36.625rem;
      top: 1.5rem;
      left: 0.5625rem;
    }

    .stone1 {
      background: url("/src/assets/image/mianPic/ltstone.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 13rem;
      height: 36rem;
      position: absolute;
      top: 1%;
      left: calc(100% - 13rem);
    }

    .stone2 {
      background: url("/src/assets/image/mianPic/rtstone.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 18rem;
      height: 43rem;
      position: absolute;
      top: -6%;
      right: calc(100% - 17.625rem);
    }

    .eye-warp {
      width: 36.625rem;
      height: 36.625rem;
      position: absolute;
      top: 49%;
      left: 51%;
      z-index: 3;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      .eyeWhite {
        transform-style: preserve-3d;
        transition: all 0.1s;
      }
      .eyeWarp-img {
        position: relative;
        z-index: 999;
        width: 27.625rem;
        height: 27.625rem;
      }

      .eye-inner {
        width: 27.75rem;
        height: 27.75rem;
        position: absolute;
        top: 64px;
        left: 68px;

        .eye-inner-img {
          width: 27.75rem;
          height: 27.75rem;
        }

        .inner-eyes {
          position: absolute;
          width: 20.875rem;
          height: 20.875rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .inner-eyes-img {
            width: 20.875rem;
            height: 20.875rem;
          }
        }
      }
    }

    .light {
      position: absolute;
      z-index: 0;
      width: 29.6875rem;
      height: 30.625rem;
      border-radius: 50%;
      top: 5.5rem;
      left: 4.5625rem;
      opacity: 0.7;
      animation: shakeSlowsLight 8s !important;
    }

    .zi1 {
      background: url("@/assets/image/mianPic/upText.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 20rem;
      height: 9rem;
      position: absolute;
      top: 10%;
      right: calc(100% - 67px);
    }

    .imgShowZ1 {
      animation: ZiSlow1 4s forwards !important;
    }

    .imgShowZ2 {
      animation: ZiSlow2 4s forwards !important;
    }

    .zi2 {
      background-repeat: no-repeat;
      background: url("@/assets/image/mianPic/downText.png");
      background-size: cover;
      width: 31rem;
      height: 9rem;
      position: absolute;
      bottom: 16%;
      left: calc(100% - 75px);
    }
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 0.625rem rgba(155, 235, 252, 0.5);
  }

  50% {
    box-shadow: 0 0 1.25rem rgba(155, 235, 252, 0.8),
      0 0 1.875rem rgba(155, 235, 252, 0.8), 0 0 2.5rem rgba(155, 235, 252, 0.8);
  }

  100% {
    box-shadow: 0 0 0.625rem rgba(155, 235, 252, 0.5);
  }
}

@keyframes extend {
  0% {
    opacity: 0.7;
    filter: drop-shadow(0rem 0rem 1.625rem #35b1ff);
  }

  50% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.5rem #35b1ff);
  }

  100% {
    opacity: 0.7;
    filter: drop-shadow(0rem 0rem 1.25rem #35b1ff);
  }
}

@keyframes flyIn {
  0% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }

  10% {
    opacity: 0.8;
    filter: drop-shadow(0rem 0rem 0 rgb(9, 187, 189));
  }

  20% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }

  30% {
    opacity: 0.8;
    filter: drop-shadow(0rem 0rem 0 rgb(9, 187, 189));
  }

  40% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }

  50% {
    opacity: 0.8;
    filter: drop-shadow(0rem 0rem 0rem rgb(9, 187, 189));
  }

  60% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }

  70% {
    opacity: 0.8;
    filter: drop-shadow(0rem 0rem 0rem rgb(9, 187, 189));
  }

  80% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }

  90% {
    opacity: 0.8;
    filter: drop-shadow(0rem 0rem 0rem rgb(9, 187, 189));
  }

  100% {
    opacity: 1;
    filter: drop-shadow(0rem 0rem 1.25rem rgb(9, 187, 189));
  }
}

@keyframes ZiSlow2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -110%);
  }

  100% {
    transform: translate(-52%, -110%);
  }
}

@keyframes ZiSlow1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 109%);
  }

  100% {
    transform: translate(51%, 109%);
  }
}

@keyframes shakeSlow {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(-20deg) scale(1.3);
    opacity: 0.5;
    filter: drop-shadow(0rem 0rem 5.5rem #35b1ff);
  }

  100% {
    transform: rotate(-20deg) scale(2);
    filter: drop-shadow(0rem 0rem 15rem #35b1ff);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }

  50% {
    transform: translateY(-30px) rotate(-4deg) scale(1);
  }

  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes floats {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }

  50% {
    transform: translateY(50px) rotate(-4deg) scale(1);
  }

  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes shakeSlows {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(-4deg) scale(1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes shakeSlowsStone {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(-20deg) scale(1);
    opacity: 0.3;
    filter: drop-shadow(0rem 0rem 5.5rem #35b1ff);
  }

  60% {
    transform: rotate(-20deg) scale(1);
    opacity: 0;
    filter: drop-shadow(0rem 0rem 5.5rem #35b1ff);
  }

  100% {
    transform: rotate(-20deg) scale(2);
    filter: drop-shadow(0rem 0rem 15rem #35b1ff);
    opacity: 0;
  }
}

@keyframes shakeSlowsLight {
  0% {
    transform: rotate(0) scale(1);
    box-shadow: 0 0 1.25rem 1rem #009dff;
    opacity: 1;
  }

  50% {
    transform: rotate(-20deg) scale(1);
    opacity: 0.3;
    filter: drop-shadow(0rem 0rem 5.5rem #35b1ff);
    box-shadow: 0 0 15.25rem 7.25rem #009dff;
  }

  60% {
    transform: rotate(-20deg) scale(1);
    opacity: 0;
    filter: drop-shadow(0rem 0rem 5.5rem #35b1ff);
  }

  100% {
    transform: rotate(-20deg) scale(4);
    filter: drop-shadow(0rem 0rem 15rem #35b1ff);
    box-shadow: 0 0 85.25rem 7.25rem #009dff;
    opacity: 0;
  }
}
</style>
