<template>
  <div class="warp">
    <div :class="'content-img'">
      <img src="@/assets/image/mianPic/box.png" class="box-img" alt="" />
      <!-- 左侧石头 -->
      <div class="stone1"></div>
      <!-- 右侧石头 -->
      <div class="stone2"></div>
      <img class="box-wrap" src="@/assets/image/mianPic/boxwarp.png" alt="" />
      <!-- 眼睛外部 -->
      <div class="eye-warp" ref="eyeWarpRef">
        <!-- 眼白 -->
        <div class="eyes-content">
          <img
            src="@/assets/image/mianPic/eyesBorder.png"
            class="eyeWarp-img"
            alt=""
          />
          <div
            class="eyeWhite-box"
            style="
              width: 14rem;
              height: 14rem;
              position: absolute;
              top: 19%;
              left: 33%;
              margin: auto;
              border-radius: 50%;
              z-index: 0;
              overflow: hidden;
              display: flex;
              align-items: center;
              background: #e9e7e7;
              justify-content: center;
            "
          >
            <img
              src="@/assets/image/mianPic/eyesWhite1.png"
              ref="eyeWhite"
              class="eyeanimation1 eyeWhite"
              style="width: 25rem; position: absolute; margin-left: -6px"
              alt=""
            />
          </div>
        </div>
        <!-- 眼球 --- eye-inner 类目为 本身样式, eyeanimation为点击后的动画 -->
        <div class="eyeanimation eye-inner">
          <img
            src="@/assets/image/mianPic/eyeInner.png"
            class="eye-inner-img"
            alt=""
          />
          <!-- 眼珠 -->
          <div class="inner-eyes">
            <img
              class="inner-eyes-img"
              src="@/assets/image/mianPic/eyeInnerMain.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="less" scoped>
.eyeanimation {
  animation: eyeTrianglePath 4s infinite;
}
.eyeanimation1 {
  animation: eyeTrianglePath1 4s infinite;
}
//眼白轨迹动画
@keyframes eyeTrianglePath1 {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translateX(1.8125rem) translateY(-1.8125rem); /* 向上右移动 */
  }
  66% {
    transform: translateX(3.25rem) translateY(0); /* 向右移动 */
  }

  100% {
    transform: translate(0, 0); /* 回到原点 */
  }
}
//眼部轨迹动画
@keyframes eyeTrianglePath {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translateX(2.8125rem) translateY(-2.8125rem); /* 向上右移动 */
  }
  66% {
    transform: translateX(6.25rem) translateY(0); /* 向右移动 */
  }
  100% {
    transform: translate(0, 0); /* 回到原点 */
  }
}
// 石头浮动
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floats {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-0);
  }
  100% {
    transform: translateY(10px);
  }
}
.warp {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // background: url(@/assets/image/mianPic/backBackground.png);
  .content-img {
    width: 620px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    .box-img {
      width: 620px;
      height: 620px;
    }
    .box-wrap {
      animation-name: flyIn;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .box-wrap {
      position: absolute;
      z-index: 2;
      width: 587px;
      height: 586px;
      top: 24px;
      left: 9px;
    }
    .stone1 {
      background: url(/src/assets/image/mianPic/ltstone.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 13rem;
      height: 36rem;
      position: absolute;
      top: 1%;
      left: calc(100% - 13rem);
      animation: floats 3s infinite alternate;
    }

    .stone2 {
      background: url(/src/assets/image/mianPic/rtstone.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18rem;
      height: 43rem;
      position: absolute;
      top: -6%;
      right: calc(100% - 17.625rem);
      animation: float 3s infinite alternate;
    }
    .eye-warp {
      width: 36.625rem;
      height: 36.625rem;
      position: absolute;
      top: 49%;
      left: 51%;
      z-index: 3;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      .eyeWhite {
        transform-style: preserve-3d;
        transition: all 0.1s;
      }
      .eyeWarp-img {
        position: relative;
        z-index: 999;
        width: 27.625rem;
        height: 27.625rem;
      }

      .eye-inner {
        width: 27.75rem;
        height: 27.75rem;
        position: absolute;
        top: 45px;
        left: 39px;

        .eye-inner-img {
          width: 27.75rem;
          height: 27.75rem;
        }

        .inner-eyes {
          position: absolute;
          width: 20.875rem;
          height: 20.875rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .inner-eyes-img {
            width: 20.875rem;
            height: 20.875rem;
          }
        }
      }
    }

    .zi1 {
      background: url(@/assets/image/mianPic/upText.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 320px;
      height: 144px;
      position: absolute;
      top: 10%;
      right: calc(100% - 4.1875rem);
    }
    .zi2 {
      background-repeat: no-repeat;
      background: url(@/assets/image/mianPic/downText.png);
      background-size: cover;
      width: 496px;
      height: 144px;
      position: absolute;
      bottom: 16%;
      left: calc(100% - 4.6875rem);
    }
  }
}

@keyframes flyIn {
  0% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
  10% {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 0 rgb(9, 187, 189));
  }
  20% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
  30% {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 0 rgb(9, 187, 189));
  }
  40% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
  50% {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 0px rgb(9, 187, 189));
  }
  60% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
  70% {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 0px rgb(9, 187, 189));
  }
  80% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
  90% {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 0px rgb(9, 187, 189));
  }
  100% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px rgb(9, 187, 189));
  }
}
@keyframes shakeSlow {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) scale(1.3);
    opacity: 0;
  }
}
@keyframes shakeSlows {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-4deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
</style>
