<template>
  <demoView />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import demoView from "./components/demoView.vue";

export default defineComponent({
  name: "App",
  components: {
    demoView,
  },
});
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
